<a href="https://colab.research.google.com/github/SamuGalli/DIQ/blob/main/DIQproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DATA QUALITY ASSESSMENT**

![pipeline.png]()

Import libraries:

In [99]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

Import data:

In [4]:
HOTELS = pd.read_csv(
    "https://raw.githubusercontent.com/SamuGalli/DIQ/main/Comune-di-Milano---Strutture-ricettive-alberghiere.csv",
    sep=';',
    encoding='unicode_escape'
)
HOTELS.head()

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attivit struture extra
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZ,NAVIGLIO GRANDE,8.0,5144.0,6.0,14.0,NaN,4,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Albergo
1,codvia 0000 num.024 ; (),NaN,NaN,NaN,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
2,CSO BUENOS AIRES N. 18 (z.d. 3),CSO,BUENOS AIRES,18.0,2129.0,3.0,16.0,16,1,hotel aurora,1.0,1,25.0,25,Albergo
3,CSO BUENOS AIRES N. 26 (z.d. 3),CSO,BUENOS AIRES,26.0,2129.0,3.0,25.0,NaN,3,hotel buenos aires,NaN,NaN,39.0,NaN,Albergo
4,CSO BUENOS AIRES N. 2 (z.d. 3),CSO,BUENOS AIRES,2.0,2129.0,3.0,46.0,15;11;8,3,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Albergo

In [5]:
#number of tuples and columns of the data source
HOTELS.shape

(451, 15)

In [6]:
#show the schema of the data source
HOTELS.columns

Index(['Ubicazione', 'Tipo via', 'Descrizione via', 'Civico', 'Codice via',
       'ZD', 'Camere', 'Camere piano', 'Categoria', 'Insegna', 'Piani totali',
       'Piano piano', 'Posti letto', 'Posti letto per piano',
       'Tipo attivit struture extra'],
      dtype='object')

In [7]:
#for each attribute the system shows the type of data. The type of data is defined analyzing the values
HOTELS.dtypes

Ubicazione                       object
Tipo via                         object
Descrizione via                  object
Civico                          float64
Codice via                      float64
ZD                              float64
Camere                          float64
Camere piano                     object
Categoria                        object
Insegna                          object
Piani totali                    float64
Piano piano                      object
Posti letto                     float64
Posti letto per piano            object
Tipo attivit struture extra     object
dtype: object

In [8]:
#unique display the list of distinct values in a column
HOTELS['Posti letto'].unique()

array([ 25., 518.,  39.,  98.,  97., 191.,  60.,  67., 180., 100., 147.,
       159., 172., 203.,  81.,  70.,  43.,  46., 167.,  35.,  96., 308.,
       211., 216.,  18.,  15.,  64., 150., 530.,  95.,  41.,  48.,  79.,
        20.,  16.,  56.,  31.,  33.,  24., 244., 189., 725., 623., 441.,
       110., 448., 650.,  23., 208., 395., 212., 305.,  57.,  78.,  38.,
       432.,  22., 158., 125., 259.,  12., 272.,  19.,  45.,  32.,  68.,
       108.,  99., 120.,  21.,   9.,  94.,  93.,  42.,  58.,  17., 163.,
        10., 465., 145., 132.,  36.,  92.,   7., 199.,  27., 111.,  26.,
        73.,  52.,  59., 234.,  50., 245.,  75., 290., 115., 102.,  47.,
       224., 292., 288., 101., 636., 118.,  77., 205., 468., 196., 469.,
       240., 198., 218., 169.,  28., 232., 200., 736., 229.,  82., 242.,
       480.,  14.,  44., 183., 190., 104.,  62.,  76., 487.,  61., 416.,
       262., 133., 266., 206., 439., 252., 160.,  53.,  54.,  34.,  63.,
        40.,  91.,  65., 204., 306.,  69.,  80.,  51.,  49.,  nan, 318.,
       223., 155., 116., 538., 186., 864., 922.,  11., 202., 134., 386.,
       128., 334., 512., 577., 320.,  71.,  84., 122., 127., 197.,  83.,
       484., 192.,  72., 230., 500.,  29.,  30., 646.,  37., 138., 106.,
       130., 299., 388.,  55., 157., 135., 254., 792., 344., 250.])

In [9]:
#nunique counts the number of distinct values of a certain column
HOTELS['Ubicazione'].nunique()

438

In [10]:
#nunique counts the number of distinct values of a certain column
HOTELS['Tipo via'].nunique()

8

In [11]:
#nunique counts the number of distinct values of a certain column
HOTELS['Descrizione via'].nunique()

300

In [12]:
#nunique counts the number of distinct values of a certain column
HOTELS['Civico'].nunique()

90

In [13]:
#nunique counts the number of distinct values of a certain column
HOTELS['Codice via'].nunique()

302

In [14]:
#nunique counts the number of distinct values of a certain column
HOTELS['ZD'].nunique()

9

In [15]:
#nunique counts the number of distinct values of a certain column
HOTELS['Camere'].nunique()

148

In [16]:
#nunique counts the number of distinct values of a certain column
HOTELS['Camere piano'].nunique()

207

In [17]:
#nunique counts the number of distinct values of a certain column
HOTELS['Categoria'].nunique()

8

In [18]:
#nunique counts the number of distinct values of a certain column
HOTELS['Insegna'].nunique()

437

In [19]:
#nunique counts the number of distinct values of a certain column
HOTELS['Piani totali'].nunique()

11

In [20]:
#nunique counts the number of distinct values of a certain column
HOTELS['Piano piano'].nunique()

58

In [21]:
#nunique counts the number of distinct values of a certain column
HOTELS['Posti letto'].nunique()

196

In [22]:
#nunique counts the number of distinct values of a certain column
HOTELS['Posti letto per piano'].nunique()

219

In [23]:
#nunique counts the number of distinct values of a certain column
HOTELS['Tipo attivit struture extra'].nunique()

3

In [24]:
#value_counts() returns an object containing counts for each unique value
UBICAZIONE_COUNT = HOTELS['Ubicazione'].value_counts()

In [25]:
UBICAZIONE_COUNT.head(100)

Ubicazione
VLE DEI MILLE N. 48 (z.d. 3)             3
VIA LAZZARETTO N. 17 (z.d. 2)            2
VIA FRA' GALGARIO N. 4 (z.d. 7)          2
PZA DELLA REPUBBLICA N. 17 (z.d. 2)      2
VIA AOSTA N. 2 (z.d. 8)                  2
                                        ..
VIA CALVI PIETRO N. 32 (z.d. 4)          1
VIA CANONICA LUIGI N. 38 (z.d. 1)        1
VIA CANONICA LUIGI N. 79 (z.d. 8)        1
VIA CAPPELLINI ALFREDO N. 18 (z.d. 2)    1
VIA CARCANO FILIPPO N. 37 (z.d. 7)       1
Name: count, Length: 100, dtype: int64

In [26]:
VIA_COUNT = HOTELS['Tipo via'].value_counts()
VIA_COUNT

Tipo via
VIA    331
VLE     47
CSO     25
PZA     24
PLE      4
LGO      3
GLL      2
ALZ      1
Name: count, dtype: int64

In [27]:
DESCRIZIONE_COUNT = HOTELS['Descrizione via'].value_counts()
DESCRIZIONE_COUNT

Descrizione via
TORRIANI NAPO             10
PORPORA NICOLA ANTONIO     8
VITRUVIO                   7
BUENOS AIRES               6
DEI MILLE                  5
                          ..
SUZZANI GIOVANNI           1
TESTI FULVIO               1
CONCORDIA                  1
VITTORIO VENETO            1
NAVIGLIO GRANDE            1
Name: count, Length: 300, dtype: int64

In [28]:
CIVICO_COUNT = HOTELS['Civico'].value_counts()
CIVICO_COUNT

Civico
2.0        22
6.0        22
4.0        19
10.0       16
3.0        15
           ..
41609.0     1
120.0       1
139.0       1
300.0       1
89.0        1
Name: count, Length: 90, dtype: int64

In [29]:
CODICE_VIA_COUNT = HOTELS['Codice via'].value_counts()
CODICE_VIA_COUNT

Codice via
2126.0    10
2229.0     8
2134.0     7
2129.0     5
3115.0     5
          ..
1446.0     1
1441.0     1
3116.0     1
2107.0     1
5144.0     1
Name: count, Length: 302, dtype: int64

In [30]:
ZD_COUNT = HOTELS['ZD'].value_counts()
ZD_COUNT

ZD
3.0    111
2.0     75
1.0     69
8.0     44
9.0     34
7.0     32
4.0     30
5.0     25
6.0     17
Name: count, dtype: int64

In [31]:
CAMERE_COUNT = HOTELS['Camere'].value_counts()
CAMERE_COUNT

Camere
10.0     24
14.0     15
11.0     15
15.0     14
13.0     11
         ..
126.0     1
143.0     1
120.0     1
420.0     1
140.0     1
Name: count, Length: 148, dtype: int64

In [32]:
CAMERE_PIANO_COUNT = HOTELS['Camere piano'].value_counts()
CAMERE_PIANO_COUNT

Camere piano
0                   108
8                     4
7                     4
11                    4
13                    4
                   ...
30;11                 1
33                    1
15;15;15;15;15;9      1
3;6;9;9;9             1
12;7;4                1
Name: count, Length: 207, dtype: int64

In [33]:
CATEGORIA_COUNT = HOTELS['Categoria'].value_counts()
CATEGORIA_COUNT

Categoria
4                 147
3                 135
1                  83
2                  64
5                   7
l                   3
I                   3
5 STELLE LUSSO      2
Name: count, dtype: int64

In [34]:
INSEGNA_COUNT = HOTELS['Insegna'].value_counts()
INSEGNA_COUNT

Insegna
radisson blu hotel milan    2
leonardo da vinci           2
ambrosiana                  2
hotel minerva               2
murillo                     1
                           ..
hotel del sud               1
palazzo delle stelline      1
antica locanda leonardo     1
hotel king                  1
starhotels E.C.H.O.         1
Name: count, Length: 437, dtype: int64

In [35]:
PIANI_TOT_COUNT = HOTELS['Piani totali'].value_counts()
PIANI_TOT_COUNT

Piani totali
3.0     37
4.0     36
5.0     24
7.0     20
6.0     20
1.0     17
2.0     13
8.0     12
9.0      5
17.0     2
10.0     1
Name: count, dtype: int64

In [36]:
PIANO_PIANO_COUNT = HOTELS['Piano piano'].value_counts()
PIANO_PIANO_COUNT

Piano piano
1;2;3;4;5              17
T;1;2                  16
1;2;3;4;5;6            16
1;2;3;4;5;6;7          14
1;2;3;4                14
1;2;3                  11
1                       9
T;1;2;3                 9
R;1;2                   8
1;2                     6
1;2;3;4;5;6;7;8         6
1;2;3;4;5;6;7;8;9;0     5
R;1                     5
R;1;2;3                 5
T;1;2;3;4;5             5
T;1;2;3;4               4
R;1;2;3;4;5             3
;                       2
R;1;2;3;4;5;6;7         2
1;2;3;4;5;6;7;8;9       2
;1;2                    2
T;1;2;3;4;5;6           2
3;4;5;6;7;8;9           1
3;4;5;6;7;8;2;9;0       1
2;3;4;5                 1
1;6;2;5;4;7;3           1
R;2;3                   1
1;2;5;6;7               1
R;1;2;3;4               1
4;5;3;1;2               1
A;1;2;3;4;5;6;7;8;9     1
1;2;3;4;5;A             1
T;1                     1
1;2;3;4;5;8;7           1
2;3;4;5;6;7;8;9         1
R;1;M;2                 1
2;1;R;4;;3              1
R;1;2;M                 1
4                       1
T;R;1;2;3;4;5;6;7;8     1
R;1;2;3;4;5;6           1
R;1;2;3;4;S             1
1;3;2                   1
4;5;3;7;2               1
T;1;2;3;4;5;            1
R;1;2;3;4;5;6;7;8       1
5;6;7                   1
2                       1
2;3;4;5;6               1
1;3;4;5;6               1
1;;2;3;4;5;6;7;8        1
T;A;1;2                 1
4;5;6;S;R;1;2;3         1
1;2;M                   1
2;3;T;1                 1
R;1;3                   1
6                       1
A;1;2;3;4               1
Name: count, dtype: int64

In [37]:
POSTI_LETTO_COUNT = HOTELS['Posti letto'].value_counts()
POSTI_LETTO_COUNT

Posti letto
25.0     35
20.0     15
24.0     14
23.0     11
32.0      9
         ..
55.0      1
135.0     1
792.0     1
344.0     1
250.0     1
Name: count, Length: 196, dtype: int64

In [38]:
TIPO_ATTIVITA_COUNT = HOTELS['Tipo attivit struture extra'].value_counts()
TIPO_ATTIVITA_COUNT

Tipo attivit struture extra
Albergo      386
Residence     51
albergo        4
Name: count, dtype: int64

In [39]:
#here we want to inspect how many unique values have the same count
VIA_COUNT.value_counts()

count
331    1
47     1
25     1
24     1
4      1
3      1
2      1
1      1
Name: count, dtype: int64

**DUPLICATION**

Duplication occurs when a real-world entity is stored twice or more in a data source.

*Definition*: A measure of unwanted duplication existing within a data set.

*Evaluation*: Number of duplicates

In [40]:
#duplicated returns a boolean Series denoting the duplicate rows (exact matching)
DUPLICATES = HOTELS.duplicated()
DUPLICATES

0      False
1      False
2      False
3      False
4      False
       ...
446    False
447    False
448    False
449    False
450    False
Length: 451, dtype: bool

In [41]:
#any shows if duplicates exist
print(DUPLICATES.any())

False

In [42]:
HOTELS[DUPLICATES]

Empty DataFrame
Columns: [Ubicazione, Tipo via, Descrizione via, Civico, Codice via, ZD, Camere, Camere piano, Categoria, Insegna, Piani totali, Piano piano, Posti letto, Posti letto per piano, Tipo attivit struture extra]
Index: []

**COMPLETENESS**

The completeness of a table characterizes the extent to which a table represents the corresponding real world.

Completeness in the relational model can be characterized by the presence of null values. In a model with null values, the presence of a null value has the general meaning of a missing value, i.e., a value that exist in the real-world but it is not available.

*Definition*: The degree to which a given data collection includes the data describing the corresponding set of real-world objects.

*Evaluation*: Number of not null values / Total number of values

In [43]:
#isnull() shows which values are null
HOTELS.isnull()

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attivit struture extra
0,False,False,False,False,False,False,False,True,False,False,True,True,False,True,False
1,False,True,True,True,True,True,False,False,False,False,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,True,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
447,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
448,False,False,False,False,False,False,False,True,False,False,True,True,False,True,False
449,False,False,False,False,False,False,False,True,False,False,True,True,False,True,False
450,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [44]:
#display the number of not null values for each column
HOTELS.count()

Ubicazione                      451
Tipo via                        437
Descrizione via                 437
Civico                          421
Codice via                      437
ZD                              437
Camere                          450
Camere piano                    345
Categoria                       444
Insegna                         441
Piani totali                    187
Piano piano                     199
Posti letto                     450
Posti letto per piano           345
Tipo attivit struture extra    441
dtype: int64

In [45]:
#total number of not null values
NOT_NULL = HOTELS.count().sum()
print(NOT_NULL)

5922

In [46]:
#display the number of null values for each column
HOTELS.isnull().sum()

Ubicazione                        0
Tipo via                         14
Descrizione via                  14
Civico                           30
Codice via                       14
ZD                               14
Camere                            1
Camere piano                    106
Categoria                         7
Insegna                          10
Piani totali                    264
Piano piano                     252
Posti letto                       1
Posti letto per piano           106
Tipo attivit struture extra     10
dtype: int64

In [47]:
#total number of null values
NULL = HOTELS.isnull().sum().sum()
print(NULL)

843

In [48]:
#total number of cells
TOT = HOTELS.shape[0]*HOTELS.shape[1]
TOT

6765

In [49]:
TOT = NOT_NULL + NULL
print(TOT)

6765

COMPLETENESS EVALUATION:

In [50]:
COMPLETENESS = NOT_NULL / TOT
COMPLETENESS = '{0:.1f}%'.format(COMPLETENESS*100)
print(COMPLETENESS)

87.5%

**ACCURACY**

*Definition*: The extent to which data are correct, reliable and certified.

Syntactic Accuracy is the closeness of a value v to the elements of the corresponding definition domain D.

Semantic Accuracy is defined as the closeness between a data value v and a data value v.

It is possible to calculate the accuracy of an attribute, i.e., attribute (or column) accuracy, of a relation, i.e., relation accuracy, or of a whole database, i.e., database accuracy.

*Evaluation*: Number of accurate values / Total number of values

In [51]:
# Verifica di ogni colonna
def check_ubicazione(value):
    pattern = r'^(VIA|VLE|CSO|PZA|PLE|LGO|GLL|ALZ).*\(z\.d\. \d+\)$'
    return bool(re.match(pattern, value))

def check_isdigit(value, value_range):
    value_str = str(value)
    
    # Controlla se  un numero intero
    if value_str.isdigit():
        num_value = int(value_str)
        return value_range[0] <= num_value <= value_range[1]
    
    # Controlla se  un float con .0 (es. 5.0)
    if value_str.count('.') == 1 and value_str.split('.')[1] == '0' and value_str.split('.')[0].isdigit():
        num_value = float(value_str)
        return value_range[0] <= num_value <= value_range[1]
    
    return False

def check_whitelist(value, whitelisted_values):
    return value in whitelisted_values

def check_numeric_list(value):
    if type(value) == str:
        pattern = r'^\d+(\;\d+)*$'
        return bool(re.match(pattern, value))
    else:
        return bool(0)
    
def check_list(value):
    if type(value) == str:
        pattern = r'^[A-Z0-9]+(\;[A-Z0-9]+)*$'
        return bool(re.match(pattern, value))
    else:
        return bool(0)

In [52]:
# Calcola l'accuracy
Ubicazione_Valid = HOTELS['Ubicazione'].dropna().apply(check_ubicazione)
accuracy_Ubicazione = Ubicazione_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Ubicazione, ' %')
Ubicazione_Valid.head(50)

98.22616407982262  %

0      True
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33    False
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
Name: Ubicazione, dtype: bool

In [53]:
# Calcola l'accuracy
Tipo_via_Valid = HOTELS['Tipo via'].dropna().apply(lambda value: check_whitelist(value, ['CSO', 'VIA', 'VLE', 'PZA', 'PLE', 'LGO', 'GLL', 'ALZ']))
accuracy_Tipo_via = Tipo_via_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Tipo_via, ' %')

100.0  %

In [54]:
# Calcola l'accuracy
Civico_Valid = HOTELS['Civico'].dropna().apply(lambda value: check_isdigit(value, (0, 500)))
accuracy_Civico = Civico_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Civico, ' %')

99.7624703087886  %

In [55]:
# Calcola l'accuracy
Codice_via_Valid = HOTELS['Codice via'].dropna().apply(lambda value: check_isdigit(value, (0, 10000)))
accuracy_Codice_via = Codice_via_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Codice_via, ' %')

100.0  %

In [56]:
# Calcola l'accuracy
ZD_Valid = HOTELS['Codice via'].dropna().apply(lambda value: check_isdigit(value, (0, 10)))
accuracy_ZD = Codice_via_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_ZD, ' %')

100.0  %

In [57]:
# Calcola l'accuracy
Camere_Valid = HOTELS['Camere'].dropna().apply(lambda value: check_isdigit(value, (0, 500)))
accuracy_Camere = Camere_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Camere, ' %')

100.0  %

In [58]:
# Calcola l'accuracy
Camere_piano_Valid = HOTELS['Camere piano'].dropna().apply(check_numeric_list)
accuracy_Camere_piano = Camere_piano_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Camere_piano, ' %')

99.1304347826087  %

In [59]:
Categoria_Valid = HOTELS['Categoria'].dropna().apply(lambda value: check_isdigit(value, (1, 5)))
accuracy_Categoria = Categoria_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Categoria, ' %')

98.1981981981982  %

In [60]:
Piani_Valid = HOTELS['Piani totali'].dropna().apply(lambda value: check_isdigit(value, (1, 20)))
accuracy_Piani = Piani_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Piani, ' %')

100.0  %

In [61]:
Piano_piano_Valid = HOTELS['Piano piano'].dropna().apply(check_list)
accuracy_Piano_piano = Piano_piano_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Piano_piano, ' %')

96.4824120603015  %

In [62]:
Posti_letto_Valid = HOTELS['Posti letto'].dropna().apply(lambda value: check_isdigit(value, (1, 1000)))
accuracy_Posti_letto = Posti_letto_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Posti_letto, ' %')

100.0  %

In [63]:
Posti_letto_piano_Valid = HOTELS['Posti letto per piano'].dropna().apply(check_numeric_list)
accuracy_Posti_letto_piano = Posti_letto_piano_Valid.mean() * 100  # Percentuale di righe valide
print(accuracy_Posti_letto_piano, ' %')

99.1304347826087  %

In [64]:
Tipo_Attivit = HOTELS['Tipo attivit struture extra'].dropna().apply(lambda value: check_whitelist(value, ['Albergo', 'Residence']))
Tipo_attivit_Categoria = Tipo_Attivit.mean() * 100  # Percentuale di righe valide
print(Tipo_attivit_Categoria, ' %')

99.09297052154194  %

**CONSISTENCY**

The consistency dimension captures the violation of semantic rules defined over (a set of) data items, where items can be tuples of relational tables or records in a file.

Semantic rules can be integrity constaints, data edits or business rules.

*Definition*: The satisfaction of semantic rules defined over a set of data items.

*Evaluation*: Number of consistent tuples / Total number of tuples

In [82]:
def safe_sum_split(x):
    if pd.isna(x):
        return 0
    return sum(int(float(num)) for num in str(x).split(';') if num.strip() and num.strip() != 'nan')

# Funzione di normalizzazione del testo
def normalize(text):
    if pd.isna(text):
        return ""
    text = str(text).strip().upper()
    # Rimuove il punto decimale se esiste ed  seguito da zero
    if text.replace('.', '').isdigit():
        text = str(int(float(text)))
    return text

# Funzione di verifica corrispondenza
def verifica_corrispondenza(riga):
    ubicazione_norm = normalize(riga['Ubicazione'])
    indirizzo_costruito = (
        normalize(riga['Tipo via']) + " " +
        normalize(riga['Descrizione via']) + " N. " +
        normalize(riga['Civico']) + " (Z.D. " +
        normalize(riga['ZD']) + ")"
    )
    #print(ubicazione_norm, ' === ', indirizzo_costruito)
    return ubicazione_norm == indirizzo_costruito

In [87]:
HOTELS['consistency'] = np.where(
    (HOTELS['Piani totali'] == HOTELS['Piano piano'].str.count(';') + 1) &
    (HOTELS['Piani totali'] == HOTELS['Posti letto per piano'].str.count(';') + 1) &
    (HOTELS['Piani totali'] == HOTELS['Camere piano'].str.count(';') + 1) &
    (HOTELS['Camere'] == HOTELS['Camere piano'].apply(safe_sum_split)) &
    (HOTELS['Posti letto'] == HOTELS['Posti letto per piano'].apply(safe_sum_split)) &
    (HOTELS.apply(verifica_corrispondenza, axis=1)), 
    1, 
    0
)
CONSISTENT = HOTELS['consistency'] == 1
CONSISTENT = CONSISTENT.sum()
print(CONSISTENT)

ALZ NAVIGLIO GRANDE N. 8 (Z.D. 6)  ===  ALZ NAVIGLIO GRANDE N. 8 (Z.D. 6)
CODVIA 0000 NUM.024  ; ()  ===    N.  (Z.D. )
CSO BUENOS AIRES N. 18 (Z.D. 3)  ===  CSO BUENOS AIRES N. 18 (Z.D. 3)
CSO BUENOS AIRES N. 26 (Z.D. 3)  ===  CSO BUENOS AIRES N. 26 (Z.D. 3)
CSO BUENOS AIRES N. 2 (Z.D. 3)  ===  CSO BUENOS AIRES N. 2 (Z.D. 3)
CSO BUENOS AIRES N. 33 (Z.D. 3)  ===  CSO BUENOS AIRES N. 33 (Z.D. 3)
CSO BUENOS AIRES N. 3 (Z.D. 3)  ===  CSO BUENOS AIRES N. 3 (Z.D. 3)
CSO COLOMBO CRISTOFORO N. 15 (Z.D. 6)  ===  CSO COLOMBO CRISTOFORO N. 15 (Z.D. 6)
CSO COLOMBO CRISTOFORO N. 15 (Z.D. 6)  ===  CSO COLOMBO CRISTOFORO N. 15 (Z.D. 6)
CSO CONCORDIA N. 1 (Z.D. 3)  ===  CSO CONCORDIA N. 1 (Z.D. 3)
CSO DI PORTA ROMANA N. 48 (Z.D. 1)  ===  CSO DI PORTA ROMANA N. 48 (Z.D. 1)
CSO DI PORTA ROMANA N. 64 (Z.D. 1)  ===  CSO DI PORTA ROMANA N. 64 (Z.D. 1)
CSO EUROPA N. 9 (Z.D. 1)  ===  CSO EUROPA N. 9 (Z.D. 1)
CSO GARIBALDI GIUSEPPE N. 68 (Z.D. 1)  ===  CSO GARIBALDI GIUSEPPE N. 68 (Z.D. 1)
CSO GARIBALDI GIUSEPPE N. 84 (Z.D. 1)  ===  CSO GARIBALDI GIUSEPPE N. 84 (Z.D. 1)
CSO ITALIA N. 34 (Z.D. 1)  ===  CSO ITALIA N. 34 (Z.D. 1)
CSO ITALIA NUM.011/A ; (Z.D. 1)  ===    N.  (Z.D. )
CSO LODI N. 4 (Z.D. 5)  ===  CSO LODI N. 4 (Z.D. 5)
CSO LODI N. 74 (Z.D. 4)  ===  CSO LODI N. 74 (Z.D. 4)
CSO MAGENTA N. 61 (Z.D. 1)  ===  CSO MAGENTA N. 61 (Z.D. 1)
CSO MAGENTA N. 78 (Z.D. 1)  ===  CSO MAGENTA N. 78 (Z.D. 1)
CSO MAGENTA NUM.019 ; (Z.D. 1)  ===    N.  (Z.D. )
CSO MATTEOTTI GIACOMO NUM.004/6 CINQUE STELLE LUSSO; (Z.D. 1)  ===  CSO MATTEOTTI GIACOMO N.  (Z.D. 1)
CSO SEMPIONE N. 69 (Z.D. 8)  ===  CSO SEMPIONE N. 69 (Z.D. 8)
CSO SEMPIONE NUM.091 ; (Z.D. 8)  ===    N.  (Z.D. )
CSO VENTIDUE MARZO N. 32 (Z.D. 4)  ===  CSO VENTIDUE MARZO N. 32 (Z.D. 4)
CSO VENTIDUE MARZO N. 43 (Z.D. 4)  ===  CSO VENTIDUE MARZO N. 43 (Z.D. 4)
CSO VERCELLI N. 1 (Z.D. 7)  ===  CSO VERCELLI N. 1 (Z.D. 7)
CSO VERCELLI N. 55 (Z.D. 7)  ===  CSO VERCELLI N. 55 (Z.D. 7)
CSO VERCELLI N. 61 (Z.D. 7)  ===  CSO VERCELLI N. 61 (Z.D. 7)
GLL BUENOS AIRES N. 5 SEMBRA AVERE COME INDIRIZZO UFFICIALE CORSO BUENOS AIRES 42 MA ERMES NON RICONOSCE IL CIVICO (Z.D. 3)  ===  GLL BUENOS AIRES N. 5 (Z.D. 3)
GLL DEL CORSO N. 3 (Z.D. 1)  ===  GLL DEL CORSO N. 3 (Z.D. 1)
LGO AUGUSTO N. 10 (Z.D. 1)  ===  LGO AUGUSTO N. 10 (Z.D. 1)
LGO CARROBBIO NUM.002 ;  ===  LGO CARROBBIO N.  (Z.D. 1)
LGO RIO DE JANEIRO N. 12 (Z.D. 3)  ===  LGO RIO DE JANEIRO N. 12 (Z.D. 3)
PLE CORVETTO LUIGI EMANUELE N. 5 (Z.D. 4)  ===  PLE CORVETTO LUIGI EMANUELE N. 5 (Z.D. 4)
PLE LOTTO LORENZO N. 14 (Z.D. 8)  ===  PLE LOTTO LORENZO N. 14 (Z.D. 8)
PLE PRINCIPESSA CLOTILDE N. 10 (Z.D. 9)  ===  PLE PRINCIPESSA CLOTILDE N. 10 (Z.D. 9)
PLE TRIPOLI N. 3 (Z.D. 6)  ===  PLE TRIPOLI N. 3 (Z.D. 6)
PZA ASPROMONTE N. 18 (Z.D. 3)  ===  PZA ASPROMONTE N. 18 (Z.D. 3)
PZA ASPROMONTE N. 22 (Z.D. 3)  ===  PZA ASPROMONTE N. 22 (Z.D. 3)
PZA ASPROMONTE NUM.012/14 ; (Z.D. 3)  ===  PZA ASPROMONTE N.  (Z.D. 3)
PZA BECCARIA CESARE N. 6 SUBINGRESSO CON RIDUZIONE CAME; (Z.D. 1)  ===  PZA BECCARIA CESARE N. 6 (Z.D. 1)
PZA BUONARROTI MICHELANGELO N. 31 R.T.A.CON 23 ALLOGGI E 24 P.L.; (Z.D. 7)  ===  PZA BUONARROTI MICHELANGELO N. 31 (Z.D. 8)
PZA CINQUE GIORNATE N. 6 (Z.D. 1)  ===  PZA CINQUE GIORNATE N. 6 (Z.D. 1)
PZA DEL DUOMO N. 25 (Z.D. 1)  ===  PZA DEL DUOMO N. 25 (Z.D. 1)
PZA DELLA REPUBBLICA N. 13 (Z.D. 2)  ===  PZA DELLA REPUBBLICA N. 13 (Z.D. 2)
PZA DELLA REPUBBLICA N. 17 (Z.D. 2)  ===  PZA DELLA REPUBBLICA N. 17 (Z.D. 2)
PZA DELLA REPUBBLICA N. 17 (Z.D. 2)  ===  PZA DELLA REPUBBLICA N. 17 (Z.D. 2)
PZA DELLA REPUBBLICA N. 20 (Z.D. 2)  ===  PZA DELLA REPUBBLICA N. 20 (Z.D. 2)
PZA DUCA D'AOSTA N. 16 (Z.D. 2)  ===  PZA DUCA D'AOSTA N. 16 (Z.D. 2)
PZA DUCA D'AOSTA N. 9 (Z.D. 2)  ===  PZA DUCA D'AOSTA N. 9 (Z.D. 2)
PZA FONTANA N. 3 (Z.D. 1)  ===  PZA FONTANA N. 3 (Z.D. 1)
PZA GERUSALEMME N. 12 (Z.D. 8)  ===  PZA GERUSALEMME N. 12 (Z.D. 8)
PZA GERUSALEMME N. 6 (Z.D. 8)  ===  PZA GERUSALEMME N. 6 (Z.D. 8)
PZA LEONARDO DA VINCI N. 10 (Z.D. 3)  ===  PZA LEONARDO DA VINCI N. 10 (Z.D. 3)
PZA LIMA N. 2 NUM.001 ; (Z.D. 3)  ===  PZA LIMA N. 2 (Z.D. 3)
PZA LUIGI DI SAVOIA N. 20 (Z.D. 2)  ===  PZA LUIGI DI SAVOIA N. 20 (Z.D. 2)
PZA MISSORI GIUSEPPE N. 1 (Z.D. 1)  ===  PZA MISSORI GIUSEPPE N. 1 (Z.D. 1)
PZA OBERDAN GUGLIELMO N. 12 (Z.D. 3)  ===  PZA OBERDAN GUGLIELMO N. 12 (Z.D. 3)
PZA SANTA MARIA BELTRADE N. 4 (Z.D. 1)  ===  PZA SANTA MARIA BELTRADE N. 4 (Z.D. 1)
PZA SANTA MARIA DEL SUFFRAGIO N. 3 (Z.D. 4)  ===  PZA SANTA MARIA DEL SUFFRAGIO N. 3 (Z.D. 4)
PZA SANT' EUSTORGIO N. 2 (Z.D. 1)  ===  PZA SANT' EUSTORGIO N. 2 (Z.D. 1)
VIA AIRAGHI GAETANO N. 125 NUM.000 ; (Z.D. 7)  ===  VIA AIRAGHI GAETANO N. 125 (Z.D. 7)
VIA AJRAGHI CESARE N. 30 SUAP; (Z.D. 8)  ===  VIA AJRAGHI CESARE N. 30 (Z.D. 8)
VIA ALBRICCI ALBERICO N. 4 (Z.D. 1)  ===  VIA ALBRICCI ALBERICO N. 4 (Z.D. 1)
VIA ANTONIO DA RECANATE N. 2 (Z.D. 2)  ===  VIA ANTONIO DA RECANATE N. 2 (Z.D. 2)
VIA AOSTA N. 2 (Z.D. 8)  ===  VIA AOSTA N. 2 (Z.D. 8)
VIA AOSTA N. 2 (Z.D. 8)  ===  VIA AOSTA N. 2 (Z.D. 8)
VIA ARCHIMEDE N. 121 (Z.D. 4)  ===  VIA ARCHIMEDE N. 121 (Z.D. 4)
VIA ARCHIMEDE N. 79 (Z.D. 4)  ===  VIA ARCHIMEDE N. 79 (Z.D. 4)
VIA ARCHIMEDE NUM.086/88 ;  ===  VIA ARCHIMEDE N.  (Z.D. 4)
VIA ARIMONDI GIUSEPPE N. 12 (Z.D. 8)  ===  VIA ARIMONDI GIUSEPPE N. 12 (Z.D. 8)
VIA ARIOSTO LODOVICO N. 22 (Z.D. 1)  ===  VIA ARIOSTO LODOVICO N. 22 (Z.D. 1)
VIA ASTOLFO N. 5 (Z.D. 3)  ===  VIA ASTOLFO N. 5 (Z.D. 3)
VIA ASTOLFO N. 6 (Z.D. 3)  ===  VIA ASTOLFO N. 6 (Z.D. 3)
VIA BAMBAIA N. 4 (Z.D. 2)  ===  VIA BAMBAIA N. 4 (Z.D. 2)
VIA BARACCHINI FLAVIO N. 12 (Z.D. 1)  ===  VIA BARACCHINI FLAVIO N. 12 (Z.D. 1)
VIA BARTOLOZZI FRANCESCO N. 9 (Z.D. 4)  ===  VIA BARTOLOZZI FRANCESCO N. 9 (Z.D. 4)
VIA BASSI UGO NUM.001/A ; (Z.D. 9)  ===  VIA BASSI UGO N.  (Z.D. 9)
VIA BENEFATTORI DELL'OSPEDALE N. 24 (Z.D. 9)  ===  VIA BENEFATTORI DELL'OSPEDALE N. 24 (Z.D. 9)
VIA BONNET NINO NUM.006/B ;  ===  VIA BONNET NINO N.  (Z.D. 9)
VIA BORGONUOVO N. 1 (Z.D. 1)  ===  VIA BORGONUOVO N. 1 (Z.D. 1)
VIA BORROMEI N. 4 (Z.D. 1)  ===  VIA BORROMEI N. 4 (Z.D. 1)
VIA BOSCOVICH RUGGERO N. 21 DELEG. SOMMINISTR. ZHENG RUILE; (Z.D. 2)  ===  VIA BOSCOVICH RUGGERO N. 21 (Z.D. 2)
VIA BOSCOVICH RUGGERO N. 43 (Z.D. 3)  ===  VIA BOSCOVICH RUGGERO N. 43 (Z.D. 3)
VIA BOSCOVICH RUGGERO N. 59 (Z.D. 3)  ===  VIA BOSCOVICH RUGGERO N. 59 (Z.D. 3)
VIA BREMBO N. 27 (Z.D. 5)  ===  VIA BREMBO N. 27 (Z.D. 5)
VIA BRESSANONE NUM.004/A ; ()  ===  VIA BRESSANONE N.  (Z.D. 8)
VIA BRIVIO CESARE N. 33 (Z.D. 9)  ===  VIA BRIVIO CESARE N. 33 (Z.D. 9)
VIA BROGLIO EMILIO N. 28 (Z.D. 9)  ===  VIA BROGLIO EMILIO N. 28 (Z.D. 9)
VIA BROLETTO N. 46 (Z.D. 1)  ===  VIA BROLETTO N. 46 (Z.D. 1)
VIA BUONARROTI MICHELANGELO N. 13 (Z.D. 7)  ===  VIA BUONARROTI MICHELANGELO N. 13 (Z.D. 7)
VIA BUTTI ENRICO N. 9 (Z.D. 9)  ===  VIA BUTTI ENRICO N. 9 (Z.D. 9)
VIA CACCIANINO ANTONIO N. 10 (Z.D. 3)  ===  VIA CACCIANINO ANTONIO N. 10 (Z.D. 3)
VIA CADIBONA N. 2 (Z.D. 4)  ===  VIA CADIBONA N. 2 (Z.D. 4)
VIA CALVI PIETRO N. 32 (Z.D. 4)  ===  VIA CALVI PIETRO N. 32 (Z.D. 4)
VIA CANONICA LUIGI N. 38 (Z.D. 1)  ===  VIA CANONICA LUIGI N. 38 (Z.D. 1)
VIA CANONICA LUIGI N. 79 (Z.D. 8)  ===  VIA CANONICA LUIGI N. 79 (Z.D. 8)
VIA CAPPELLINI ALFREDO N. 18 (Z.D. 2)  ===  VIA CAPPELLINI ALFREDO N. 18 (Z.D. 2)
VIA CARCANO FILIPPO N. 37 (Z.D. 7)  ===  VIA CARCANO FILIPPO N. 37 (Z.D. 7)
VIA CARCANO FILIPPO N. 39 (Z.D. 7)  ===  VIA CARCANO FILIPPO N. 39 (Z.D. 7)
VIA CARCANO FILIPPO N. 47 (Z.D. 7)  ===  VIA CARCANO FILIPPO N. 47 (Z.D. 7)
VIA CARDANO GEROLAMO N. 1 (Z.D. 9)  ===  VIA CARDANO GEROLAMO N. 1 (Z.D. 9)
VIA CASATI FELICE N. 18 (Z.D. 3)  ===  VIA CASATI FELICE N. 18 (Z.D. 3)
VIA CASELLA GIOVANNI BATTISTA N. 61 (Z.D. 8)  ===  VIA CASELLA GIOVANNI BATTISTA N. 61 (Z.D. 8)
VIA CASTALDI PANFILO N. 16 (Z.D. 3)  ===  VIA CASTALDI PANFILO N. 16 (Z.D. 3)
VIA CASTALDI PANFILO N. 17 (Z.D. 3)  ===  VIA CASTALDI PANFILO N. 17 (Z.D. 3)
VIA CASTALDI PANFILO N. 26 (Z.D. 3)  ===  VIA CASTALDI PANFILO N. 26 (Z.D. 3)
VIA CASTALDI PANFILO N. 7 (Z.D. 2)  ===  VIA CASTALDI PANFILO N. 7 (Z.D. 2)
VIA CASTELFIDARDO N. 2 (Z.D. 1)  ===  VIA CASTELFIDARDO N. 2 (Z.D. 1)
VIA CATALANI ALFREDO N. 69 (Z.D. 3)  ===  VIA CATALANI ALFREDO N. 69 (Z.D. 3)
VIA CATALANI ALFREDO N. 71 (Z.D. 3)  ===  VIA CATALANI ALFREDO N. 71 (Z.D. 3)
VIA CERVA N. 16 RESIDENCE CERVA; (Z.D. 1)  ===  VIA CERVA N. 16 (Z.D. 1)
VIA CESARI ANTONIO N. 19 (Z.D. 9)  ===  VIA CESARI ANTONIO N. 19 (Z.D. 9)
VIA CESENA N. 20 (Z.D. 8)  ===  VIA CESENA N. 20 (Z.D. 8)
VIA CIMAROSA DOMENICO N. 19 (Z.D. 7)  ===  VIA CIMAROSA DOMENICO N. 19 (Z.D. 7)
VIA CIMAROSA DOMENICO N. 6 (Z.D. 7)  ===  VIA CIMAROSA DOMENICO N. 6 (Z.D. 7)
VIA COLA MONTANO N. 29 (Z.D. 9)  ===  VIA COLA MONTANO N. 29 (Z.D. 9)
VIA COLOMBO GIUSEPPE N. 14 (Z.D. 3)  ===  VIA COLOMBO GIUSEPPE N. 14 (Z.D. 3)
VIA COLONNA VITTORIA N. 48 (Z.D. 7)  ===  VIA COLONNA VITTORIA N. 48 (Z.D. 7)
VIA CONCA DEL NAVIGLIO N. 20 (Z.D. 1)  ===  VIA CONCA DEL NAVIGLIO N. 20 (Z.D. 1)
VIA COPERNICO NICOLO' NUM.018/20 ; (Z.D. 2)  ===  VIA COPERNICO NICOLO' N.  (Z.D. 2)
VIA CORNALIA EMILIO N. 7 (Z.D. 9)  ===  VIA CORNALIA EMILIO N. 7 (Z.D. 9)
VIA CORRENTI CESARE N. 13 (Z.D. 1)  ===  VIA CORRENTI CESARE N. 13 (Z.D. 1)
VIA CORTINA D'AMPEZZO N. 17 (Z.D. 5)  ===  VIA CORTINA D'AMPEZZO N. 17 (Z.D. 5)
VIA CUSANI N. 13 (Z.D. 1)  ===  VIA CUSANI N. 13 (Z.D. 1)
VIA CUSTODI PIETRO N. 2 (Z.D. 5)  ===  VIA CUSTODI PIETRO N. 2 (Z.D. 5)
VIA DAL POZZO TOSCANELLI PAOLO N. 4 (Z.D. 2)  ===  VIA DAL POZZO TOSCANELLI PAOLO N. 4 (Z.D. 2)
VIA DANDOLO ENRICO N. 2 (Z.D. 1)  ===  VIA DANDOLO ENRICO N. 2 (Z.D. 1)
VIA DE ALBERTIS SEBASTIANO N. 7 (Z.D. 3)  ===  VIA DE ALBERTIS SEBASTIANO N. 7 (Z.D. 4)
VIA DE CRISTOFORIS CARLO N. 6 (Z.D. 9)  ===  VIA DE CRISTOFORIS CARLO N. 6 (Z.D. 9)
VIA DEI BOSSI N. 5 (Z.D. 1)  ===  VIA DEI BOSSI N. 5 (Z.D. 1)
VIA DEI FONTANILI N. 26 (Z.D. 5)  ===  VIA DEI FONTANILI N. 26 (Z.D. 5)
VIA DEI MISSAGLIA N. 14 (Z.D. 5)  ===  VIA DEI MISSAGLIA N. 14 (Z.D. 5)
VIA DELLA GIUSTIZIA N. 10 (Z.D. 2)  ===  VIA DELLA GIUSTIZIA N. 10 (Z.D. 2)
VIA DELLE FORZE ARMATE N. 8 (Z.D. 7)  ===  VIA DELLE FORZE ARMATE N. 8 (Z.D. 7)
VIA DELL' ORSO N. 7 (Z.D. 1)  ===  VIA DELL' ORSO N. 7 (Z.D. 1)
VIA DEL MARE N. 93 (Z.D. 5)  ===  VIA DEL MARE N. 93 (Z.D. 5)
VIA DESENZANO N. 12 (Z.D. 7)  ===  VIA DESENZANO N. 12 (Z.D. 7)
VIA DI TOCQUEVILLE ALESSIO N. 7 NUMERO CIVICO 7/D; (Z.D. 9)  ===  VIA DI TOCQUEVILLE ALESSIO N. 7 (Z.D. 9)
VIA DOMENICHINO N. 41 (Z.D. 7)  ===  VIA DOMENICHINO N. 41 (Z.D. 7)
VIA DOMODOSSOLA N. 16 (Z.D. 8)  ===  VIA DOMODOSSOLA N. 16 (Z.D. 8)
VIA DONATELLO NUM.010/12 ; (Z.D. 3)  ===  VIA DONATELLO N.  (Z.D. 3)
VIA EDOLO N. 18 (Z.D. 2)  ===  VIA EDOLO N. 18 (Z.D. 2)
VIA FARINI CARLO NUM.001/A ; (Z.D. 8)  ===    N.  (Z.D. )
VIA FATEBENEFRATELLI N. 21 (Z.D. 1)  ===  VIA FATEBENEFRATELLI N. 21 (Z.D. 1)
VIA FAUCHE' GIOVANNI BATTISTA N. 15 (Z.D. 8)  ===  VIA FAUCHE' GIOVANNI BATTISTA N. 15 (Z.D. 8)
VIA FELTRE N. 19 N. CIVICO 19/B (Z.D. 3)  ===  VIA FELTRE N. 19 (Z.D. 3)
VIA FERRUCCI FRANCESCO N. 10 (Z.D. 8)  ===  VIA FERRUCCI FRANCESCO N. 10 (Z.D. 8)
VIA FILZI FABIO N. 3 (Z.D. 2)  ===  VIA FILZI FABIO N. 3 (Z.D. 2)
VIA FILZI FABIO N. 43 (Z.D. 2)  ===  VIA FILZI FABIO N. 43 (Z.D. 2)
VIA FILZI FABIO NUM.025/A ; (Z.D. 2)  ===  VIA FILZI FABIO N.  (Z.D. 2)
VIA FINOCCHIARO APRILE N. 11 (Z.D. 2)  ===  VIA FINOCCHIARO APRILE N. 11 (Z.D. 2)
VIA FINOCCHIARO APRILE N. 2 (Z.D. 2)  ===  VIA FINOCCHIARO APRILE N. 2 (Z.D. 2)
VIA F.LLI GABBA N. 7 (Z.D. 1)  ===  VIA F.LLI GABBA N. 7 (Z.D. 1)
VIA FLUMENDOSA N. 35 (Z.D. 2)  ===  VIA FLUMENDOSA N. 35 (Z.D. 2)
VIA FORCELLA VINCENZO N. 6 (Z.D. 6)  ===  VIA FORCELLA VINCENZO N. 6 (Z.D. 6)
VIA FRA' GALGARIO N. 4 (Z.D. 7)  ===  VIA FRA' GALGARIO N. 4 (Z.D. 7)
VIA FRA' GALGARIO N. 4 (Z.D. 7)  ===  VIA FRA' GALGARIO N. 4 (Z.D. 7)
VIA FRASSINETTI ROMEO N. 2 (Z.D. 7)  ===  VIA FRASSINETTI ROMEO N. 2 (Z.D. 7)
VIA FUMAGALLI ANGELO CARLO N. 4 (Z.D. 6)  ===  VIA FUMAGALLI ANGELO CARLO N. 4 (Z.D. 6)
VIA GAFFURIO FRANCHINO N. 1 (Z.D. 3)  ===  VIA GAFFURIO FRANCHINO N. 1 (Z.D. 3)
VIA GAGGIA PIETRO N. 3 (Z.D. 4)  ===  VIA GAGGIA PIETRO N. 3 (Z.D. 4)
VIA GALILEI GALILEO N. 2 (Z.D. 2)  ===  VIA GALILEI GALILEO N. 2 (Z.D. 2)
VIA GALLARATE N. 2 (Z.D. 8)  ===  VIA GALLARATE N. 2 (Z.D. 8)
VIA GALLINA GIACINTO N. 12 (Z.D. 3)  ===  VIA GALLINA GIACINTO N. 12 (Z.D. 3)
VIA GALLI RICCARDO N. 8 (Z.D. 8)  ===  VIA GALLI RICCARDO N. 8 (Z.D. 8)
VIA GALVANI LUIGI N. 12 (Z.D. 2)  ===  VIA GALVANI LUIGI N. 12 (Z.D. 2)
VIA GASPAROTTO LEOPOLDO N. 8 (Z.D. 2)  ===  VIA GASPAROTTO LEOPOLDO N. 8 (Z.D. 2)
VIA GESU' N. 10 (Z.D. 1)  ===  VIA GESU' N. 10 (Z.D. 1)
VIA GHIBERTI LORENZO N. 1 (Z.D. 7)  ===  VIA GHIBERTI LORENZO N. 1 (Z.D. 7)
VIA GIAMBELLINO N. 9 (Z.D. 6)  ===  VIA GIAMBELLINO N. 9 (Z.D. 6)
VIA GIOIA MELCHIORRE N. 6 (Z.D. 9)  ===  VIA GIOIA MELCHIORRE N. 6 (Z.D. 9)
VIA GIOIA MELCHIORRE N. 73 (Z.D. 2)  ===  VIA GIOIA MELCHIORRE N. 73 (Z.D. 2)
VIA GIULINI GIORGIO N. 6 (Z.D. 1)  ===  VIA GIULINI GIORGIO N. 6 (Z.D. 1)
VIA GIUSTI GIUSEPPE N. 6 (Z.D. 1)  ===  VIA GIUSTI GIUSEPPE N. 6 (Z.D. 1)
VIA GOLDONI CARLO N. 31 INIZIALE; (Z.D. 6)  ===  VIA GOLDONI CARLO N. 31 (Z.D. 3)
VIA GOLDONI CARLO N. 31 (Z.D. 6)  ===  VIA GOLDONI CARLO N. 31 (Z.D. 3)
VIA GOLDONI CARLO N. 84 3 E 4 PIANO; (Z.D. 6)  ===  VIA GOLDONI CARLO N. 84 (Z.D. 3)
VIA GOLDONI CARLO N. 84 VIA GOLDONI 84 2^ PIANO; (Z.D. 3)  ===  VIA GOLDONI CARLO N. 84 (Z.D. 3)
VIA GROSSI TOMMASO N. 1 LICENZA RILASCIATA DALLO SUAP; (Z.D. 1)  ===  VIA GROSSI TOMMASO N. 1 (Z.D. 1)
VIA HAJECH CAMILLO N. 18 (Z.D. 4)  ===  VIA HAJECH CAMILLO N. 18 (Z.D. 4)
VIA HOEPLI ULRICO N. 6 (Z.D. 1)  ===  VIA HOEPLI ULRICO N. 6 (Z.D. 1)
VIA INGEGNOLI FRANCESCO N. 20 (Z.D. 3)  ===  VIA INGEGNOLI FRANCESCO N. 20 (Z.D. 3)
VIA IPPODROMO N. 8 (Z.D. 8)  ===  VIA IPPODROMO N. 8 (Z.D. 8)
VIA JACOPO DELLA QUERCIA N. 6 (Z.D. 7)  ===  VIA JACOPO DELLA QUERCIA N. 6 (Z.D. 7)
VIA JOMMELLI NICCOLO' N. 49 (Z.D. 3)  ===  VIA JOMMELLI NICCOLO' N. 49 (Z.D. 3)
VIA LAMBRATE N. 9 (Z.D. 3)  ===  VIA LAMBRATE N. 9 (Z.D. 3)
VIA LAMPEDUSA N. 11 (Z.D. 5)  ===  VIA LAMPEDUSA N. 11 (Z.D. 5)
VIA LAMPEDUSA NUM.011/A ; (Z.D. 5)  ===    N.  (Z.D. )
VIA LARIO N. 40 (Z.D. 9)  ===  VIA LARIO N. 40 (Z.D. 9)
VIA LAZZARETTO N. 10 (Z.D. 3)  ===  VIA LAZZARETTO N. 10 (Z.D. 3)
VIA LAZZARETTO N. 17 (Z.D. 2)  ===  VIA LAZZARETTO N. 17 (Z.D. 2)
VIA LAZZARETTO N. 17 (Z.D. 2)  ===  VIA LAZZARETTO N. 17 (Z.D. 2)
VIA LAZZARETTO N. 5 ANGOLO FINOCCHIARO APRILE; (Z.D. 2)  ===  VIA LAZZARETTO N. 5 (Z.D. 2)
VIA LENTASIO N. 3 (Z.D. 1)  ===  VIA LENTASIO N. 3 (Z.D. 1)
VIA LEPETIT ROBERTO N. 15 (Z.D. 2)  ===  VIA LEPETIT ROBERTO N. 15 (Z.D. 2)
VIA LEPETIT ROBERTO N. 33 (Z.D. 2)  ===  VIA LEPETIT ROBERTO N. 33 (Z.D. 2)
VIA LEPETIT ROBERTO N. 7 (Z.D. 2)  ===  VIA LEPETIT ROBERTO N. 7 (Z.D. 2)
VIA LEPONTINA N. 8 (Z.D. 9)  ===  VIA LEPONTINA N. 8 (Z.D. 9)
VIA LIPPI FILIPPINO N. 28 (Z.D. 3)  ===  VIA LIPPI FILIPPINO N. 28 (Z.D. 3)
VIA LIPPI FILIPPINO N. 43 (Z.D. 3)  ===  VIA LIPPI FILIPPINO N. 43 (Z.D. 3)
VIA LIPPI FILIPPINO N. 50 (Z.D. 3)  ===  VIA LIPPI FILIPPINO N. 50 (Z.D. 3)
VIA LODOVICO IL MORO N. 117 (Z.D. 6)  ===  VIA LODOVICO IL MORO N. 117 (Z.D. 6)
VIA LOMBARDI RICCARDO N. 11 ANNESSA DIPENDENZA 3 STELLE; (Z.D. 7)  ===  VIA LOMBARDI RICCARDO N. 11 (Z.D. 7)
VIA LORENTEGGIO NUM.278 ;  ===    N.  (Z.D. )
VIA LUDOVICO DI BREME N. 77 (Z.D. 8)  ===  VIA LUDOVICO DI BREME N. 77 (Z.D. 8)
VIA LULLI GIOVANNI N. 11 (Z.D. 3)  ===  VIA LULLI GIOVANNI N. 11 (Z.D. 3)
VIA LULLI GIOVANNI N. 18 (Z.D. 3)  ===  VIA LULLI GIOVANNI N. 18 (Z.D. 3)
VIA LULLI GIOVANNI N. 22 (Z.D. 3)  ===  VIA LULLI GIOVANNI N. 22 (Z.D. 3)
VIA LULLI GIOVANNI N. 4 (Z.D. 3)  ===  VIA LULLI GIOVANNI N. 4 (Z.D. 3)
VIA MACCHI MAURO N. 1 (Z.D. 2)  ===  VIA MACCHI MAURO N. 1 (Z.D. 2)
VIA MACCHI MAURO N. 49 (Z.D. 2)  ===  VIA MACCHI MAURO N. 49 (Z.D. 2)
VIA MACCHI MAURO N. 79 (Z.D. 2)  ===  VIA MACCHI MAURO N. 79 (Z.D. 2)
VIA MAC MAHON NUM.045/A ; (Z.D. 8)  ===  VIA MAC MAHON N.  (Z.D. 8)
VIA MANIN DANIELE N. 7 (Z.D. 1)  ===  VIA MANIN DANIELE N. 7 (Z.D. 1)
VIA MANZONI ALESSANDRO N. 29 (Z.D. 1)  ===  VIA MANZONI ALESSANDRO N. 29 (Z.D. 1)
VIA MANZONI ALESSANDRO N. 31 (Z.D. 1)  ===  VIA MANZONI ALESSANDRO N. 31 (Z.D. 1)
VIA MARCELLO BENEDETTO N. 47 (Z.D. 3)  ===  VIA MARCELLO BENEDETTO N. 47 (Z.D. 3)
VIA MARCELLO BENEDETTO N. 59 (Z.D. 3)  ===  VIA MARCELLO BENEDETTO N. 59 (Z.D. 3)
VIA MARCELLO BENEDETTO N. 83 (Z.D. 3)  ===  VIA MARCELLO BENEDETTO N. 83 (Z.D. 3)
VIA MARCO D'AGRATE N. 35 (Z.D. 5)  ===  VIA MARCO D'AGRATE N. 35 (Z.D. 5)
VIA MARCO POLO N. 13 (Z.D. 9)  ===  VIA MARCO POLO N. 13 (Z.D. 9)
VIA MARGHERA N. 14 (Z.D. 7)  ===  VIA MARGHERA N. 14 (Z.D. 7)
VIA MARGHERA N. 2 (Z.D. 7)  ===  VIA MARGHERA N. 2 (Z.D. 7)
VIA MASACCIO N. 19 (Z.D. 8)  ===  VIA MASACCIO N. 19 (Z.D. 8)
VIA MAZZINI GIUSEPPE N. 10 (Z.D. 1)  ===  VIA MAZZINI GIUSEPPE N. 10 (Z.D. 1)
VIA MAZZINI GIUSEPPE N. 4 (Z.D. 1)  ===  VIA MAZZINI GIUSEPPE N. 4 (Z.D. 1)
VIA MAZZINI GIUSEPPE N. 8 (Z.D. 1)  ===  VIA MAZZINI GIUSEPPE N. 8 (Z.D. 1)
VIA MECENATE N. 121 (Z.D. 4)  ===  VIA MECENATE N. 121 (Z.D. 4)
VIA MELLONI MACEDONIO N. 17 (Z.D. 4)  ===  VIA MELLONI MACEDONIO N. 17 (Z.D. 4)
VIA MERCATO N. 1 (Z.D. 1)  ===  VIA MERCATO N. 1 (Z.D. 1)
VIA MESSINA N. 10 (Z.D. 8)  ===  VIA MESSINA N. 10 (Z.D. 8)
VIA MODENA GUSTAVO N. 20 (Z.D. 3)  ===  VIA MODENA GUSTAVO N. 20 (Z.D. 3)
VIA MODENA GUSTAVO N. 4 (Z.D. 3)  ===  VIA MODENA GUSTAVO N. 4 (Z.D. 3)
VIA MOLINO DELLE ARMI N. 1 ATTIVITA' PROMISCUA RTA E ALBE; (Z.D. 1)  ===  VIA MOLINO DELLE ARMI N. 1 (Z.D. 1)
VIA MONETA NUM.001/A ; (Z.D. 1)  ===  VIA MONETA N.  (Z.D. 1)
VIA MONTE ROSA N. 90 (Z.D. 8)  ===  VIA MONTE ROSA N. 90 (Z.D. 8)
VIA MONTESSORI MARIA N. 14 (Z.D. 4)  ===  VIA MONTESSORI MARIA N. 14 (Z.D. 4)
VIA MORIGI N. 2 (Z.D. 1)  ===  VIA MORIGI N. 2 (Z.D. 1)
VIA MURAT GIOACCHINO N. 21 (Z.D. 9)  ===  VIA MURAT GIOACCHINO N. 21 (Z.D. 9)
VIA MURATORI LODOVICO N. 14 (Z.D. 4)  ===  VIA MURATORI LODOVICO N. 14 (Z.D. 4)
VIA MURATORI LODOVICO N. 5 (Z.D. 4)  ===  VIA MURATORI LODOVICO N. 5 (Z.D. 4)
VIA NICOTERA GIOVANNI N. 9 (Z.D. 9)  ===  VIA NICOTERA GIOVANNI N. 9 (Z.D. 9)
VIA NOVARA N. 371 (Z.D. 7)  ===  VIA NOVARA N. 371 (Z.D. 7)
VIA OLGETTINA N. 60 (Z.D. 3)  ===  VIA OLGETTINA N. 60 (Z.D. 3)
VIA ORNATO LUIGI N. 64 (Z.D. 9)  ===  VIA ORNATO LUIGI N. 64 (Z.D. 9)
VIA ORSEOLO PIETRO N. 1 (Z.D. 6)  ===  VIA ORSEOLO PIETRO N. 1 (Z.D. 6)
VIA ORSEOLO PIETRO N. 1 (Z.D. 6)  ===  VIA ORSEOLO PIETRO N. 1 (Z.D. 6)
VIA OSIMO AUGUSTO N. 10 (Z.D. 4)  ===  VIA OSIMO AUGUSTO N. 10 (Z.D. 4)
VIA OZANAM FEDERICO N. 12 (Z.D. 3)  ===  VIA OZANAM FEDERICO N. 12 (Z.D. 3)
VIA PAGANINI NICCOLO' N. 6 (Z.D. 3)  ===  VIA PAGANINI NICCOLO' N. 6 (Z.D. 3)
VIA PAGANINI NICCOLO' N. 7 (Z.D. 3)  ===  VIA PAGANINI NICCOLO' N. 7 (Z.D. 3)
VIA PALADINI ETTORE N. 7 (Z.D. 3)  ===  VIA PALADINI ETTORE N. 7 (Z.D. 3)
VIA PALAZZI LAZZARO N. 18 (Z.D. 3)  ===  VIA PALAZZI LAZZARO N. 18 (Z.D. 3)
VIA PALLADIO ANDREA N. 8 (Z.D. 5)  ===  VIA PALLADIO ANDREA N. 8 (Z.D. 5)
VIA PALMANOVA N. 153 (Z.D. 2)  ===  VIA PALMANOVA N. 153 (Z.D. 2)
VIA PALMIERI NICOLA N. 64 (Z.D. 5)  ===  VIA PALMIERI NICOLA N. 64 (Z.D. 5)
VIA PANIZZA BARTOLOMEO N. 5 2^  E 4 PIANO; (Z.D. 7)  ===  VIA PANIZZA BARTOLOMEO N. 5 (Z.D. 7)
VIA PANTANO N. 8 (Z.D. 1)  ===  VIA PANTANO N. 8 (Z.D. 1)
VIA PAPI LAZZARO N. 18 (Z.D. 4)  ===  VIA PAPI LAZZARO N. 18 (Z.D. 4)
VIA PECCHIO GIUSEPPE N. 2 (Z.D. 3)  ===  VIA PECCHIO GIUSEPPE N. 2 (Z.D. 3)
VIA PELLIZZONE ANDREA N. 12 (Z.D. 3)  ===  VIA PELLIZZONE ANDREA N. 12 (Z.D. 3)
VIA PERUGINO N. 12 (Z.D. 4)  ===  VIA PERUGINO N. 12 (Z.D. 4)
VIA PESTALOZZA ALESSANDRO N. 28 (Z.D. 3)  ===  VIA PESTALOZZA ALESSANDRO N. 28 (Z.D. 3)
VIA PIACENZA N. 4 (Z.D. 5)  ===  VIA PIACENZA N. 4 (Z.D. 5)
VIA PICCINNI NICOLA N. 25 (Z.D. 3)  ===  VIA PICCINNI NICOLA N. 25 (Z.D. 3)
VIA PIERLUIGI GIOVANNI DA PALESTRINA NUM.030 ; (Z.D. 2)  ===    N.  (Z.D. )
VIA PIERO DELLA FRANCESCA N. 39 (Z.D. 8)  ===  VIA PIERO DELLA FRANCESCA N. 39 (Z.D. 8)
VIA PIERO DELLA FRANCESCA N. 48 (Z.D. 8)  ===  VIA PIERO DELLA FRANCESCA N. 48 (Z.D. 8)
VIA PIERO DELLA FRANCESCA N. 60 (Z.D. 8)  ===  VIA PIERO DELLA FRANCESCA N. 60 (Z.D. 8)

In [88]:
#count the number of consistent tuples considering the rule
CONSISTENT = HOTELS['consistency'] == 1
CONSISTENT = CONSISTENT.sum()

In [89]:
#count the total number of tuples in the property dataset
COUNT = HOTELS['consistency'].count()
print(COUNT)

451

CONSISTENCY EVALUATION:

In [90]:
CONSISTENCY = CONSISTENT / COUNT
CONSISTENCY = '{0:.1f}%'.format(CONSISTENCY * 100)
print(CONSISTENCY)

9.5%

**FINAL EVALUATION**

In [96]:
print('SUMMARY:')
print('- Number of NULL values:', NULL)
print('- COMPLETENESS:', COMPLETENESS)
print("- ACCURACY:")
print(f"    Tipo via Accuracy: {accuracy_Tipo_via:.2f}%")
print(f"    Ubicazione Accuracy: {accuracy_Ubicazione:.2f}%")
print(f"    Civico Accuracy: {accuracy_Civico:.2f}%")
print(f"    Codice via Accuracy: {accuracy_Codice_via:.2f}%")
print(f"    ZD Accuracy: {accuracy_ZD:.2f}%")
print(f"    Camere Accuracy: {accuracy_Camere:.2f}%")
print(f"    Camere piano Accuracy: {accuracy_Camere_piano:.2f}%")
print(f"    Categoria Accuracy: {accuracy_Categoria:.2f}%")
print(f"    Piani totali Accuracy: {accuracy_Piani:.2f}%")
print(f"    Piano piano Accuracy: {accuracy_Piano_piano:.2f}%")
print(f"    Posti letto Accuracy: {accuracy_Posti_letto:.2f}%")
print(f"    Posti letto per piano Accuracy: {accuracy_Posti_letto_piano:.2f}%")
print(f"    Tipo attivit Accuracy: {Tipo_attivit_Categoria:.2f}%")
print("- CONSISTENCY:", CONSISTENCY)

SUMMARY:
- Number of NULL values: 843
- COMPLETENESS: 87.5%
- ACCURACY:
    Tipo via Accuracy: 100.00%
    Ubicazione Accuracy: 98.23%
    Civico Accuracy: 99.76%
    Codice via Accuracy: 100.00%
    ZD Accuracy: 100.00%
    Camere Accuracy: 100.00%
    Camere piano Accuracy: 99.13%
    Categoria Accuracy: 98.20%
    Piani totali Accuracy: 100.00%
    Piano piano Accuracy: 96.48%
    Posti letto Accuracy: 100.00%
    Posti letto per piano Accuracy: 99.13%
    Tipo attivit Accuracy: 99.09%
- CONSISTENCY: 9.5%

In [ ]:
#create a profile report
PROFILE = ProfileReport(BEERS, title="Profiling Report")
PROFILE